@charset "UTF-8";
h1.primeiro{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9em;
    color: darkred;
}
h1{
    color: darkviolet;
}
h2{
    color: #9400d3;
}
h3{
    color: hsl(282, 100%, 41%);
}
h4{
    color: hwb(282 0% 17%);
}
h5{
    color: rgb(148, 0, 211);
}
h6{
    color: #9400d3;
}
aside{
    color: rgba(213, 87, 19, 0.912);
}