@charset "UTF-8";
/*.content_animes{
   background-color: rgb(185, 67, 67);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
    padding: 5px;
    border-radius: 10px;
    padding-left: 19px;
    align-items: center;
    justify-content: center;
    text-align: center;
}*/
button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    all: unset;
    margin-right: 15px;
    width: 200px;
    height: 200px;
}
div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
    padding: 5px;
    border-radius: 10px;
    padding-left: 19px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
img{
    width: 13vh;
    height: 13vh;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
body{
    background-image: url('../imagens/fundo.jpg');
    background-repeat: no-repeat;
    background-size: 99vw;
}
main{
    margin: auto;
    width: 800px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
header{
    padding: 20px;
}
h1{
    text-align: center;
    color: white;
    font-size: 30px;
}
footer{
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
