@charset "UTF-8";
@font-face {
    font-family: 'Anime';
    src: url('../fontes/anime.ttf') format('truetype');

}
:root{
    --cor1: #FF5570;
    --cor2: #031746;
    --cor3: #ff557190;
    --cor4: #031746a2;
    }
header{
    background-image: linear-gradient(to right,var(--cor1), var(--cor2)); 
    text-align: center;
}
header > h1{
    text-align: center;
    font-family: 'Anime';
    font-size: 26px;
    padding: 15px;
}
body{
    background: black url('../imagens/fundo.jpg') center center no-repeat fixed;
    background-size: cover;
}
main{
    margin: auto;
    width: 770px;
    height: 400px;
    background-image: linear-gradient(to right,var(--cor3), var(--cor4)); 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 15px 15px ;
}
div{
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    display: block;
    align-items: baseline;
}
button{
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    all: unset;
    cursor: pointer;
    outline: revert;
}
img{
    width: 13vh;
    height: 13vh;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
img:hover{
    width: 19vh;
    height: 19vh;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
footer{
    text-align: center;
    margin-top: 100px;
}
footer > p{
    color: white;

}

