@charset "UTF-8";

@font-face {
    font-family: 'Coffe' ;
    src: url('CoffeCake.ttf') format('truetype');
}
header{
    background-color: #BB7C5E ;
}
img{
    width: 270px;
    height: 270px;
    margin-left: 70px;
}
p{
    text-align: center;
    font-family: 'Coffe', Arial, Helvetica, sans-serif;
    font-size: 63px;
    position: absolute;
    top: 15%;
    left: 40%;
}