@charset "UTF-8";

.cab{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-direction: row;
}
.conteiner{
    display: flex;
    align-items: center;
}
.conteiner_btn{
    display: none;
}
.conteiner_btn:checked~.lista_menu{
    display: block;
}
.cab_menu{
    width: 24px;
    height: 24px;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    left: 10px;
}
.conteiner_img{
    padding: 1em;
}
.lista_menu{
    display: none;
    position: absolute;
    top: 90%;
    right: 0%;
    background-color: var(--branco);
    width: 10vw;
}
.lista_menu_tit{
    color: rgb(200, 139, 66);
    font-weight: 800px;
    
}

.logo{
    width: 100px;
    height: 100px;
    display: block; 
    top: 15px; 
}