@charset "UTF-8";
@import url("header.css");
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor-fundo: rgb(44, 44, 42);
    --branco: rgb(133, 128, 128);
    --degrade: linear-gradient(rgb(214, 83, 214), rgb(184, 53, 184));

}
body{
    background-color: var(--cor-fundo);
    font-size: 16px;
    font-weight: 400px;
}
h1{
    text-align: center;
    font-size: 2.7em;
}
main{
    margin: auto;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
footer{
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
    margin-top: 15px;
}
footer > p{
    font-size: 1.4em;
    color: rgb(138, 19, 19); 
}