@charset "UTF-8";
@import url("header.css");
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor-fundo: rgb(173, 103, 32);
    --branco: white;
    --degrade: linear-gradient(rgb(214, 83, 214), rgb(33, 1, 33));

}
body{
    background-color: var(--cor-fundo);
    font-size: 16px;
    font-weight: 400px;
}
