@charset "UTF-8";
@import url(header.css);
:root{
    --cor-de-fundo: rgb(169, 158, 237);
    --cor-cab: white;
}

body{
    background-color: var(--cor-de-fundo);
    margin: 0px;

}
h1{
    font-weight: normal;
}