@charset "UTF-8";

.cab{
    background-image: linear-gradient(to bottom, var(--cor_cab), var(--cor_cab1));
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-direction: row;
}
.conteiner{
    display: flex;
    align-items: center;
}
.conteiner_btn{
    display: none;
}
.conteiner_btn:checked~.lista_menu{
    display: block;
}
.cab_menu{
    width: 74px;
    height: 74px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.conteiner_img{
    padding: 1em;
}
.lista_menu{
    list-style: none;
    display: none;
    position: absolute;
    top: 90%;
    right: 0%;
    background-color: whitesmoke;
    width: 25vw;
    padding-left: 25px;
}
.lista_menu_tit{
    color: rgb(72, 47, 160);
    font-weight: 800px;
}
.logo{
    width: 100px;
    height: 100px;
    display: block; 
    top: 15px; 
}
.org_cab{
    display: flex;
    align-items: center;
}
.logo, .title, .paragrafo{
    padding: 1em;
}
.title, .paragrafo{
    display: none;
}
@media screen and (min-width:820px) {
    .title{
        font-size: 30px;
    }
    .title{
        display: block;
    }
}
@media screen and (min-width:1024px) {
    .paragrafo{
        display: block;
        font-size: 20px;
    }
}
.title, .paragrafo{
    color: rgb(226, 223, 223);
    font-style: italic;
    margin-left: 50px;
}
h2{
    text-indent: 5px;
    color:rgb(226, 223, 223); 
    
}
.lista_menu_item:hover{
    font-size: 18px;
    cursor: pointer;
    color: rgb(111, 149, 230);
}